.panel {
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 100;
  left: 50%;
  top: -150%;
  width: 80%;
  max-width: 60rem;
  max-height: 80%;
  transition: all 0.3s ease-in-out;
  background: transparent;
  pointer-events: none;
}

.open {
  top: 45%;
}

.topMenu {
  display: flex;
  margin: 0.5rem;
  margin-bottom: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px solid #333366;
  overflow: hidden;
  width: min-content;
  pointer-events: auto;
}

.topMenu ul {
  display: flex;
}

.topMenu li {
  height: 5rem;
  width: 5rem;
  border-right: 1px solid #333366;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.topMenu li:hover {
  background-color: #333366;
  /* filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.3)); */
}

.topMenu .selected {
  background-color: #333366;
  /* filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.3)); */
}

.topMenu li:last-child {
  border-right: none;
}

.menuIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border-bottom: 0;
  background-color: #000011e0;
  transition: all 0.5s ease-in-out;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert();
}

.bottomMenu {
  display: flex;
  flex-direction: row;
  border: 1px solid #333366;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(52, 152, 219, 0.5);
  height: 70vh;
  background-color: #000011e0;
  pointer-events: auto;
}

.bottomMenu ul {
  list-style-type: none;
}
