.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: white;
}

.header p {
  margin: 0.8rem 0 0;
  opacity: 0.8;
}

.mainLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #050510;
}

.globoWrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(52, 152, 219, 0.3);
}

.windRose {
  position: absolute;
  background-color: transparent;
  top: 1%;
  right: 1%;
  filter: drop-shadow(0 0 1rem black) opacity(100%);
  transition: all 1s ease-in-out;
  pointer-events: none;
}

.windRose img {
  width: 10rem;
  height: 10rem;
  filter: brightness(1000%);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  outline: none;
}

.footer {
  position: absolute;
  bottom: 0%;
  padding: 0.5rem;
  margin-top: auto;
  width: 100%;
  filter: drop-shadow(0 0 1rem black);
  pointer-events: none;
}

.footer p {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.configIcon {
  position: absolute;
  filter: brightness(1000%) opacity(50%);
  right: 0.5%;
  bottom: 10%;
  transition: 0.5s ease-in-out;
  pointer-events: auto;
}

.configIcon:hover {
  filter: brightness(1000%) opacity(100%) drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.3));
  transform: rotate(30deg);
  cursor: pointer;
}
