.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: white;
}

.header {
  position: absolute;
  width: 100%;
  background-color: #2c3e501f;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #3498db;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
}

.header p {
  margin: 10px 0 0;
  opacity: 0.8;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.globoWrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(52, 152, 219, 0.3);
}

.footer {
  position: absolute;
  bottom: 0%;
  padding: 5px;
  font-size: 0.75rem;
  margin-top: auto;
}