.panel {
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 100;
  left: 50%;
  top: -150%;
  width: 80%;
  max-width: 60rem;
  height: 30rem;
  max-height: 80%;
  transition: all 0.3s ease-in-out;
}

.open {
  top: 50%;
}

.topMenu {
  display: flex;
  margin: 0.5rem;
  margin-bottom: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px solid #333366;
  overflow: hidden;
  width: min-content;
}

.topMenu ul {
  display: flex;
}

.topMenu li {
  height: 5rem;
  width: 5rem;
  border-right: 1px solid #333366;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.topMenu li:hover {
  background-color: #333366;
  filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.3));
}

.topMenu .selected {
  background-color: #333366;
  filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.3));
}

.topMenu li:last-child {
  border-right: none;
}

.menuIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border-bottom: 0;
  background-color: #000011e0;
  transition: all 0.5s ease-in-out;
}

.icon {
  width: 2rem;
  height: 2rem;
  filter: invert();
}

.bottomMenu {
  display: flex;
  flex-direction: row;
  border: 1px solid #333366;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(52, 152, 219, 0.5);
  height: 50vh;
  background-color: #000011e0;
}

.lateralMenu {
  border-right: 1px solid #333366;
}

.lateralMenu ul {
  display: flex;
  flex-direction: column;
}

.lateralMenu li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #333366;
  height: 3rem;
  width: 10rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.lateralMenu li:hover {
  background-color: #333366;
  filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.3));
}

.lateralMenu .selected {
  background-color: #333366;
  filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.3));
}

.lateralMenu li:last-child {
  color: red;
}

.lateralMenu li:last-child:hover {
  color: white;
  background-color: rgba(255, 0, 0, 0.5);
  filter: drop-shadow(0 0 0.5rem rgba(255, 0, 0, 0.5));
}

.bottomMenu ul {
  list-style-type: none;
}

.menuContent {
  padding: 1rem;
  overflow-y: auto;
}

.menuContent h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.menuContent p {
  margin-bottom: 0.5rem;
  text-align: justify;
}

.menuContent h3 {
  margin-bottom: 0.5rem;
  text-align: center;
}

.menuContent ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.menuContent li {
  margin-bottom: 0.25rem;
}
